---
services:
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID={{ uid.stdout | int }}
      - PGID={{ gid.stdout | int }}
      - TZ=Etc/UTC
      - USER={{transmission_username}}
      - PASS={{transmission_password}}
    volumes:
      - /opt/containers/transmission/config:/config
      - {{ transmission_data_path }}:/data # for arr stack, in web change the download path to /data/downloads
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.transmission.rule=Host(`torrent.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.transmission.entrypoints=websecure"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"
      - "traefik.docker.network=proxy-nw"

networks:
  proxy-nw:
    external: true

