services:
  whoami:
    image: traefik/whoami
    container_name: whoami
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.services.whoami.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy-nw"

      - "homepage.group=Infrastructure"
      - "homepage.name=Whoami Test"
      - "homepage.href=https://whoami.{{ duckdns_domain }}.duckdns.org"
      - "homepage.description=Traefik routing test container"
      - "homepage.icon=whoami.png"

networks:
  proxy-nw:
    external: true
