services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID={{ uid.stdout }}
      - PGID={{ gid.stdout }}
      - TZ=Europe/Madrid
    volumes:
      - /opt/containers/arr/prowlarr_config:/config
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.rule=Host(`search.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.prowlarr.entrypoints=websecure"
      - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
      - "traefik.docker.network=proxy-nw"

      - "homepage.group=Media Stack"
      - "homepage.name=Prowlarr"
      - "homepage.icon=prowlarr.png"
      - "homepage.href=https://search.{{ duckdns_domain }}.duckdns.org"
      - "homepage.description=Indexer Manager"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID={{ uid.stdout }}
      - PGID={{ gid.stdout }}
      - TZ=Europe/Madrid
    volumes:
      - /opt/containers/arr/radarr_config:/config
      - {{arr_media_path}}:/data
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.docker.network=proxy-nw"

      - "homepage.group=Media Stack"
      - "homepage.name=Radarr"
      - "homepage.icon=radarr.png"
      - "homepage.href=https://radarr.{{ duckdns_domain }}.duckdns.org"
      - "homepage.description=Movie Collection Manager"

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID={{ uid.stdout }}
      - PGID={{ gid.stdout }}
      - TZ=Europe/Madrid
    volumes:
      - /opt/containers/arr/sonarr_config:/config
      - {{arr_media_path}}:/data
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.sonarr.entrypoints=websecure"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.docker.network=proxy-nw"

      - "homepage.group=Media Stack"
      - "homepage.name=Sonarr"
      - "homepage.icon=sonarr.png"
      - "homepage.href=https://sonarr.{{ duckdns_domain }}.duckdns.org"
      - "homepage.description=TV Show Manager"

  flaresolverr:
      image: ghcr.io/flaresolverr/flaresolverr:latest
      container_name: flaresolverr
      environment:
        - LOG_LEVEL=info
        - TZ=Etc/UTC
      restart: unless-stopped
      networks:
        - proxy-nw
      labels:
        - "homepage.group=Media Stack"
        - "homepage.name=FlareSolverr"
        - "homepage.icon=flaresolverr.png"
        - "homepage.description=Proxy for Cloudflare"

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID={{ uid.stdout }}
      - PGID={{ gid.stdout }}
      - TZ=Europe/Madrid
    volumes:
      - /opt/containers/arr/bazarr_config:/config
      - {{arr_media_path}}:/data
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(`bazarr.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.bazarr.entrypoints=websecure"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      - "traefik.docker.network=proxy-nw"
      
      - "homepage.group=Media Stack"
      - "homepage.name=Bazarr"
      - "homepage.icon=bazarr.png"
      - "homepage.href=https://bazarr.{{ duckdns_domain }}.duckdns.org"
      - "homepage.description=Subtitle Manager"

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID={{ uid.stdout }}
      - PGID={{ gid.stdout }}
      - TZ=Europe/Madrid
    volumes:
      - /opt/containers/arr/lidarr_config:/config
      - {{arr_media_path}}:/data
    restart: unless-stopped
    networks:
      - proxy-nw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.{{ duckdns_domain }}.duckdns.org`)"
      - "traefik.http.routers.lidarr.entrypoints=websecure"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.docker.network=proxy-nw"
      
      - "homepage.group=Media Stack"
      - "homepage.name=Lidarr"
      - "homepage.icon=lidarr.png"
      - "homepage.href=https://lidarr.{{ duckdns_domain }}.duckdns.org"
      - "homepage.description=Music Collection Manager"

networks:
  proxy-nw:
    external: true
